$colors: (
    light: rgba(23, 40, 70, 0.801),
    dark: rgba(6, 18, 39, 0.801),
);

@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}

body{
    margin: 0;
    padding: 0;
    background: color(dark);
}

.discard{
    // margin-top: 5em;
    width: 30%;
    height: 40%;
    background: color(light);

    .form{
        text-align: center;
        // display: inline-block;
        form label{
            display: block;
        }
    }
}