@font-face {
  font-family: "Minecrafter";
  src: url("../fonts/minecrafter/Minecrafter.Reg.ttf");
}

@font-face {
  font-family: "Minecrafter2";
  src: url("../fonts/minecrafter/Minecrafter.Alt.ttf");
}

@font-face {
  font-family: monte;
  src: url(../fonts/Montserrat-Medium.ttf);
}

body {
  /* margin: 0 2vw; */
  margin: 0;
  padding: 0;
  font-family: "Minecrafter2";
  background: black;
}

.nav {
  text-align: center;
  font-size: 25px;
  font-family: "Minecrafter";
  padding: 0;
}

.nav li {
  font-family: "Minecrafter";
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-right: 2em;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav ul {
  font-size: 25px;
  font-family: "Minecrafter";
  padding-top: 8px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header h1 {
  color: black;
  font-family: "Minecrafter2";
  text-align: center;
  font-size: 4rem;
  margin: 20px 0 0 0;
  background: #00aa00;
  padding: 10px;
}

.banner_small {
  width: 150px;
  height: 150px;
  margin-top: 1em;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  top: 0;
}

.background .join_house {
  background-color: white;
  text-align: center;
  font-family: monte;
  width: 60vw;
  height: 50vh;
  margin: auto;
}

.background .join_house p {
  margin-top: 4em;
  font-size: 24px;
}

.background .join_house form {
  margin: auto;
}

.background .join_house form label {
  display: block;
}

.houses {
  text-align: center;
  font-size: 50px;
}

.houses input[type=button] {
  width: 10rem;
  height: 3em;
  border: none;
  color: white;
  background-color: #00aa00;
  font-family: "Minecrafter2";
  font-weight: 600;
  font-size: 20px;
}

#pillagers p {
  background: -webkit-linear-gradient(#1f70bf, #533364);
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
}

#pillagers h6 {
  background: -webkit-linear-gradient(#1f70bf, #533364);
  -webkit-text-fill-color: transparent;
  font-family: monte;
  margin: 0;
  padding: 0.5em 1em;
  -webkit-background-clip: text;
  background-clip: text;
}

#heroes p {
  background: -webkit-linear-gradient(var(--hero_primarySwatch), var(--hero_secondarySwatch));
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
}

#heroes h6 {
  background: -webkit-linear-gradient(#f0e67a, #5f4a0b);
  -webkit-text-fill-color: transparent;
  font-family: monte;
  margin: 0;
  padding: 0.5em 1em;
  -webkit-background-clip: text;
  background-clip: text;
}

#villains p {
  background: -webkit-linear-gradient(#d8fffe, #5d64a0);
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
}

#villains h6 {
  background: -webkit-linear-gradient(#d8fffe, #5d64a0);
  -webkit-text-fill-color: transparent;
  font-family: monte;
  margin: 0;
  padding: 0.5em 1em;
  -webkit-background-clip: text;
  background-clip: text;
}

.socials {
  background: #00aa00;
  font-family: minecraft;
  height: 5em;
}

.socials ul {
  text-align: center;
  padding: 1.2em;
}

.socials ul li {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}

.socials ul li a {
  text-decoration: none;
  color: white;
  margin: 8px;
  padding: 0;
}

.socials ul li img {
  width: 40px;
  height: 40px;
}

footer {
  color: white;
  text-align: center;
  font-family: monte;
}

footer p {
  font-size: 16px;
}
/*# sourceMappingURL=join.css.map */